
* {box-sizing: border-box; margin: 0.1rem; padding: 0;}

html, body {
   height: 100%;
}

body {
   display: flex;
   flex-direction: column;
}

header {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 2rem;
   background: linear-gradient(135deg, #F64E00 0%, #FF7A00 50%, #F64E00 100%);
   padding: 0.5rem;
   border-radius: 0.5rem;
   margin-bottom: 2rem;
   color: antiquewhite;
   font-family: 'Bebas Neue', sans-serif;
   box-shadow: 0 8px 32px rgba(246, 78, 0, 0.4);
   position: sticky;
   top: 0;
}

header h1 {
   text-align: left;
   font-size: 3.5rem;
   font-weight: 900;
   text-transform: uppercase;
   text-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}



main {
   font-family:helvetica, sans-serif;
   font-size:1rem;
   line-height:1.3;
   color:#333;
   background-color:#f9f9f9;
   padding:1rem;
   flex: 1;
}



nav ul {
   display:flex;
   list-style:none;
   gap:0.5rem
}

nav a {
   text-decoration:none;
   color:antiquewhite;
   font-weight:bold;
   padding:0.5rem 1rem;
   border-radius:0.5rem;
   transition: background-color 0.3s, color 0.3s;
}

article.card {
   padding: 0.5rem;
   border: 0px solid #ccc;
   border-radius: 0.5rem;
   margin-bottom: 0.05rem;
   box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
   background-color: #fff;
}

article {
   padding: 1.5rem;
   border: 0px solid #F64E00;
   border-radius: 0.8rem;
   margin-bottom: 1rem;
   box-shadow: 0 4px 8px rgba(246, 78, 0, 0.2);
   background-color: #f9cbb5;
}

main > section:first-of-type {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem;
   background-color: #f9f9f9;
}


main > section:first-of-type article {
   margin-bottom: 0;
}



footer {
   text-align:start;
   border-top: 1px solid #ccc;
   padding: 0.5rem;
   background: linear-gradient(135deg, #F64E00 0%, #FF7A00 50%, #F64E00 100%) ;
   color: #ffffff;
   border-radius: 0.5rem;
   margin-top: 0.5rem;
}

footer a {
   color: #ffffffbd;
   text-decoration: underline;
   justify-content: end;
}

main > section h2 {
   text-align: center;
   margin-bottom: 1.5rem;
}

form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   margin-top: 0rem;
}

label {
   font-weight: bold;
   margin-bottom: 0.5rem;
   border-radius: 0.5rem;
}

input:focus {
   outline: none;
   border: 2px solid #F64E00;
   box-shadow: 0 0 5px rgba(246, 78, 0, 0.5);
}

button {
   background-color: #F64E00;
   color: #fff;
   border: none;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}

